services:
  blog:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./django-blog:/django-blog
    environment:
      - DB_HOST=database
      - DB_NAME=dbname
      - DB_USER=dbuser
      - DB_PASS=password
    command: >
      sh -c "python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - database
  
  database:
    image: postgres:15.3-alpine
    environment:
      - POSTGRES_DB=dbname
      - POSTGRES_USER=dbuser
      - POSTGRES_PASSWORD=password

  redis:
    image: redis:7.0.12-alpine
    hostname: redis

  worker:
    build:
      context: .
    hostname: worker
    entrypoint: celery
    command: -A celery_app.app worker --loglevel=info
    volumes:
      - ./django-blog:/django-blog
    environment:
      - DB_HOST=database
      - DB_NAME=dbname
      - DB_USER=dbuser
      - DB_PASS=password
    links:
      - redis
    depends_on:
      - database
      - redis

  celery-beat:
    build:
      context: .
    command: celery -A dj_blog beat --scheduler django_celery_beat.schedulers:DatabaseScheduler --loglevel=info
    volumes:
      - ./django-blog:/django-blog
    environment:
      - DB_HOST=database
      - DB_NAME=dbname
      - DB_USER=dbuser
      - DB_PASS=password
    links:
      - redis
    depends_on:
      - redis