{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best site ever</title>
</head>
<script src="https://cdn.tiny.cloud/1/a0k7nlsy3avdeeuwg11xbv5hsy6c4jfls4jqhl19e652c2ij/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet"
      type="text/css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

<body>
<div class="page-header">
    <h1><a href="/">Best Site Ever</a></h1>

</div>
<div class="content container">

    <div class="row">
        <div class=>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>