name: Run Tests

on:
  push:
    branches:
      - master

jobs:
  test:
    name: Run Django Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Make migrations
        run: |
          docker-compose build
          docker-compose run --rm blog sh -c "python manage.py makemigrations"
          docker-compose run --rm blog sh -c "python manage.py migrate"
      - name: Run tests
        run: docker-compose run --rm blog sh -c "python manage.py test"
